<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


   <div class="row">
     <div class="col-md-12">
       <div class="col-md-3">      
<div class="div1" >
    <div class="logo" ><span class="img">
        <img src="assets/images/digisign_logo.png" style="width:45px"></span>
      </div><br><br>

    <span class="signin">Sign In</span><div><h6>Login with social media</h6></div>
    
    <div class="social" >
      <button class="socialmediat"><i class="fa fa-facebook-square">facebook</i></button>
      <button class="socialmediat1" style="font-size:8px;"><i class="fa fa-twitter">Twitter</i></button>
      <button class="socialmediat2" style="font-size:8px;">google+</button>
  </div>
  <br>
  <p style="margin-left:46px;">____________or__________</p>

      <form name="form-signin" (ngSubmit)="f.form.valid && login($event, email.value, password.value)" #f="ngForm" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage"><h6 style="color:red">{{errorMessage}}</h6></div>
      <span id="reauth-email" class="reauth-email"></span>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email" style="font-size:10px;">Username</label><br>
        <input type="email" class="form-control" id="email" name="email" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block" style="color:red"> Valid email is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password" style="font-size:10px;">Password</label><br>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block" style="color:red">Password is required</div>
      </div>
      <div id="remember" class="checkbox">

      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    
      <a [routerLink]="['/register']" class="btnregister " style="font-size:10px;text-decoration: none;">Don't have an account <b style="color:blue;">REGISTER</b></a>
    </form>
</div>
</div> 
<div class="col-md-8">


<img src="assets/images/Artboard.png" class="img-rounded" style="width:800px;height:auto;margin-left:200px;">
</div>
</div></div>