

 <!-- <div class="div2">
      <a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span><button class="button"> LogOut</button></a>
      <h5 class="display-3">  <strong>{{currentUser.fullName}}</strong> </h5>

  </div>-->


<!--<div class="div3">

  <!-- Jumbotron Header 
  
   <h5 class="display-3">  <strong>{{currentUser.fullName}}</strong>, Welcome to your app </h5>
   <p class="lead"> welcome to your profile
    </p>
    
  

</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/images/digisign logo 2.png" style="width:100px">
      
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  </nav>
 
 

<div class="div3">
    <div  class="div1">
<a href=""> <button class="btn" id="bg4"><i class="fa fa-hand-o-right " style="font-size:36px;margin-left:-150px;" aria-hidden="true"></i> <span class="do">No of Action Pending</span></button></a>
    </div>
    <div class="div1" >
            <a href=""><button class="btn" id="bg2"> <i class="fa fa-file-text-o  " style="font-size:36px; margin-left:-150px; " aria-hidden="true"></i><span class="do">Number Of Certificates</span></button></a>
        </div>
        
            <div class="div" style="float:left">
               <span class="upload">Upload New Credentials</span>
               <span class="spanimage">
            <img src="assets/images/upload icon.png"></span><br>
            <input (change)="onFileSelected()" type="file" id="file" class="btn1">
            <br><br><br>
            <span class="drag">or drag and drop then here</span>
            
            </div>
 
        </div>
        <div class="pdfview">
            <h6>Certificates</h6>
        <pdf-viewer *ngFor="let src of pdfSrcArr" [src]="src" 
        [render-text]="true"
        [show-all]="true"
        [original-size]="false"
        
        style="display: block;height:250px;width:200px;margin:15px;position: relative;float:left;background-color: rgb(149, 15, 226);">
        </pdf-viewer>
    </div>
    




