<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
                <div class="logo" ><span class="img">
                        <img src="assets/images/digisign_logo.png" style="width:45px"></span></div><br><br>
                        <div>
                                <span class="register">Register</span><br><div><h6>Login with social media</h6></div> 
                        </div>
                        <div class="social" >
                                <button class="socialmediat"><i class="fa fa-facebook-square">facebook</i></button>
                                <button class="socialmediat1" ><i class="fa fa-twitter">Twitter</i></button>
                                <button class="socialmediat2">google+</button>
                            </div><br><p style="margin-left:60px;">____________or__________</p>
      <p id="profile-name" class="profile-name-card"></p>
  
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
          <label for="userName" style="font-size:10px">UserName</label>
          <input type="text" class="form-control" name="userName" id="userName" [(ngModel)]="user.userName" #userName="ngModel" required />
          <div *ngIf="f.submitted && !userName.valid" class="help-block">The full Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email" style="font-size:10px">Email </label>
          <input type="text" class="form-control" name="email" id="email" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.email" #email="ngModel" required />
          <div *ngIf="f.submitted && !email.valid" class="help-block">
  
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
              A valid email address is required
            </div>
  
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password" style="font-size:10px">Password</label>
          <input type="password" class="form-control" name="password" id="password"[(ngModel)]="user.password" #password="ngModel" required minlength="7" />
          <div *ngIf="f.submitted && !password.valid" class="help-block">
  
            <div *ngIf="password.errors.required">
              password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              password must be at least 7 characters long.
            </div>
  
          </div>
        </div>
        
<div class="form-group" [ngClass]="{'has-error':f.submitted && !isActive.valid}">
    <div class="">
        <label class="">
            <input type="checkbox" name="isActive" required #isActive="ngModel" [(ngModel)]="user.isActive" ><span  style="font-size: 10px">I agree with service Term & Condition</span>
        </label>
    </div>
    <div *ngIf="f.submitted && !isActive.valid" class="help-block">
  
            <div *ngIf="isActive.errors.required">
              Please check term&condition..
            </div>
           
  
          </div>
     
</div>            
  
        
        <button class=" btn-register" type="submit">Register</button>
        <a [routerLink]="['/login']" style="text-decoration:none;color:black;font-size: 12px;margin-left:40px;">Altready have an account <span style="color:blue">Sign In</span></a>
  
      </form>
  
    </div>
  
  <div class="col-md-8">


    <img src="assets/images/Artboard.png" class="img-rounded" style="width:800px;height:auto;margin-left:200px;">
    </div>
</div>
</div>
  
  
  
  
  